<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.linkcube.skea">

    <!--BlueTooth 权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"/>

        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".ui.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LoginActivity" />
        </activity>

        <activity
            android:name=".ui.user.UserInfoActivity"
            android:label="@string/title_activity_me"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.record.RecordActivity"
            android:label="@string/title_activity_record"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.exercise.ExerciseActivity"
            android:label="@string/title_activity_exercise" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".ui.user.UserInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.UserInfoActivity" />
        </activity>

        <activity
            android:name=".ui.user.TestPelvicMuscleResultActivity"
            android:label="@string/title_activity_test_pelvic_muscle_result"
            android:parentActivityName=".ui.user.UserInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.UserInfoActivity" />
        </activity>

        <activity
            android:name=".ui.setting.ConfigSkeaActivity"
            android:label="@string/title_activity_skea_config"
            android:parentActivityName=".ui.user.UserInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.UserInfoActivity" />
        </activity>

        <activity
            android:name=".ui.test.ReEvaluationActivity"
            android:label="@string/title_activity_re_evaluation"
            android:parentActivityName=".ui.user.TestPelvicMuscleResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.TestPelvicMuscleResultActivity" />
        </activity>

        <activity
            android:name=".ui.test.ExerciseLevelSettingActivity"
            android:label="@string/title_activity_setting_exercise_level"
            android:parentActivityName=".ui.user.TestPelvicMuscleResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user.TestPelvicMuscleResultActivity" />
        </activity>

        <activity
            android:name=".ui.info.InformationActivity"
            android:icon="@drawable/icon_info"
            android:label="@string/title_activity_information"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.setting.LanguageSettingActivity"
            android:parentActivityName=".ui.setting.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.setting.SettingActivity" />
        </activity>

        <activity
            android:name=".ui.init.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.init.GuideActivity"
            android:label="@string/title_activity_guide"/>
        <activity
            android:name=".ui.bt.BTSettingActivity"
            android:label="@string/title_activity_btsetting"/>

    </application>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
